<%- include ('./partials/header.ejs') %>
<%- include ('./partials/homenavbar.ejs') %>
<body class="p-0 m-0 border-0 bd-example">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/banner1.jpg" class="d-block w-100" alt="imagem-banner1">
          </div>
          <div class="carousel-item">
            <img src="/img/banner2.png" class="d-block w-100" alt="imagem-banner2">
          </div>
          <div class="carousel-item">
            <img src="/img/banner3.png" class="d-block w-100" alt="imagem-banner3">
          </div>
        </div>
    </div>
    <div class="container">
      <hr>
      <div class="card">
        <div class="card-header">
          <h2><%= article.title %></h2>
        </div>
        <div class="card-body">
         <%- article.body %>
        </div>
      </div>
    </div>
</body>

<%- include ('./partials/footer.ejs')  %>

